#ignore bakup files
*.bak
*.old
*.user

#ignore build artifacts
TouchGFX_generated/TouchGFX/build
CubeMX_generated/TouchGFX/build
CubeMX_generated/VisualStudio/.vs
CubeMX_generated/VisualStudio/.visualgdb
CubeMX_generated/VisualStudio/Debug
CubeMX_generated/VisualStudio/Release
